# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash log files
crash.log

# Ignore backup files
*.tfstate.backup

# Ignore Terraform variable files (optional)
*.tfvars

# Ignore Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform CLI configuration file
.terraformrc
terraform.rc

# Ignore Terraform provider and module directories
.terraform/

# Ignore lock files
*.lock.hcl

